.form__button {
  margin-bottom: 40px;

  width: 80px;
  height: 30px;
  cursor: pointer;

  color: #fdf9f4;
  background-color: #6ba6e9;
  border-radius: 4px;
  border: none;

  transform: scale 250ms linear;
}

.form__button:hover {
  scale: 1.1;
  background-color: #5394dd;
}

li {
  display: flex;
}
